body {
    padding-top: 0.5rem;
}

#home {
    background: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
        ),
        url(./resources/img/home.jpg) no-repeat center center fixed;
    height: 60vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 600px) {
    #home {
        height: 100vh;
    }
}

.profile-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#about {
    padding-top: 100px;
    padding-bottom: 100px;
}

#contact {
    background-color: #ffffff;
    padding: 100px 0 100px 0;
}

#portfolio {
    background-color: #eee;
    display: table;
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 150px;
}

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

#message {
    resize: none;
    margin-bottom: 5px;
}
